.root {
  padding: var(--mantine-spacing-xs)
}

.link {
  display: flex;
  align-items: center;
  padding: 0.65rem 0.5rem 0.65rem 1.25rem;
  transition: 0.2s;
  margin-bottom: rem(4px);
  border-radius: calc(var(--mantine-spacing-xs) * 0.5);
  cursor: pointer;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4))
  }

  &[data-active] {
    color: var(--mantine-color-gray-1);
    background-image: linear-gradient(45deg, #c93d76, #8d2c8b);
  }
}